@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:wght@300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;600&family=Tangerine:wght@400;700&display=swap');

.reels {
  display: flex;
  justify-content: center;
  margin: 40px 100px;
  /* background-color: #972f08; */
}

.reel-container {
  width: 400px;
  height: 200px;
  overflow: hidden;
  position: relative;
  border: 2px solid #333;
  /* background-color: #ffffff; */
  padding: 6px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(56, 56, 57);
}

.reel {
    margin-top: 12%;
    background-color: none;
    border: none;
   /*👉 background-color: rgb(89, 53, 220);
    box-shadow: 0 0 10px rgb(56, 56, 57);👈*/
    /* width: 106px; */
    /* height: 100px; */
    display: flex;
    flex-direction: column;
    animation: none;
}

.reel.spinning {
  animation: spin 0.5s linear infinite; /* Apply spin animation only when spinning */
}

.reel-item {
  /* background-color: yellow; */
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.reel-item img {
  /* margin-top: 20%; */
  max-width: 250%;
  height: auto;
}

@keyframes spin {
  0% { transform: translateY(0); }
  100% { transform: translateY(-100%); }
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  /* background-color: #ccc; */
  background-color: rgb(214, 154, 154);
}

.topic {
  margin-top: 4%;
  color: rgb(67, 71, 74);
  /* color: black; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
  box-shadow: 0 0 10px blue;
  max-width: 450px;
  margin-left: 55px;
  background-color: #ece5e5;
  border-radius: 6px;
}

.topic1 h6 {
  font-family: cursive;
  font-size: 16px;
}
.result {
  background-color: rgb(223, 216, 216);
  color: rgb(17, 16, 16);
  width: 400px;
  justify-content: center;
  align-items: center;
  margin-left: 14%;
  padding: 20px;
  border-radius: 16px;
}

.result p {
  padding: 4px;
  
}